

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.currencyinput {
    background-color: white;
    display: inline-block;
    padding-left: 7px;
}
.currencyinput input {
    border: 0;
}

img {
	max-height: 350px;
	width: auto;
}

#aboutmmmyep {
	margin-top: 0px;
}

.teamname {
	font-style: italic;
	font-weight: bold;
}

.bio {
	width: 22%;
	height: 700px;
	display: block;
	float: left;
	margin-right: 3%;
}

.bio li, .bio p{
	line-height: 150%;
	font-size: 14px;
}

.bio ul {
	padding-left: 16px;
}

.bio img {
	height: 250px;
}

#hero {
	
}

#comment {
	font-size: 80%;
}

#search {
	display: block;
	text-align: left;
	float: left;
}

#results {
	display: block;
	text-align: right;
	float: left;
	width: 40%;	
}

body {
	background-color: #eeeeee;
}

.jumbotron{
	width: 1170px;
	margin: auto;
	padding-left: 0px;
	padding-right: 0px;
}










